@model LoginViewModel
@using static ASI.Basecode.Resources.Views.Screen
@section Styles {
    <link rel="stylesheet" href="~/css/header.css" />
    <link rel="stylesheet" href="~/css/hompage.css" />
    <link rel="stylesheet" href="~/css/texts.css" />
}
@{
    ViewBag.LoginView = true;
    ViewData["Title"] = "Account Info";
}

<!-- start sa header logo and tools -->
<header class="header">
    <div class="logo-container">
        <img src="~/img/logo-invert.svg " 
            class = "logo">
    </div>   
    <!-- start sa icon sa taas (pic, notif, account, room, menu) -->
   <div class="icon-container-top">
        <div class="circle-image-account"></div>
        <button class="menu-container button3">
            <img src="~/img/icons/menu.svg">
        </button>
        <div class="notification-container">
            <img src="~/img/icons/notif.svg">
        </div>
        <div class="account-container">
            <img src="~/img/icons/account.svg">
        </div>
        <div class="room-container">
            <img src="~/img/icons/room.svg">
        </div>
   </div>
    <!-- end -->
</header>