@model LoginViewModel
@using static ASI.Basecode.Resources.Views.Screen
@section Styles {
    <link rel="stylesheet" href="~/css/headerfinal.css" />
    <link rel="stylesheet" href="~/css/texts.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/css/homepage.css" />
    <link rel="stylesheet" href="~/css/adminroom.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />
    <link rel="icon" type="image/svg+xml" href="~/img/logo-invert.svg">
}
<!--copy ang script-->
@section Scripts {
    <script src="~/js/modal.js"></script>
}
@{
    ViewBag.LoginView = true;
    ViewData["Title"] = "Room Information";
}

<div class= "custom-main-container">
    <div class="custom-room-box">
      <input placeholder="Search...">
      <button><i class="fa-solid fa-magnifying-glass"></i></button>
    </div>
    <!--search -->
    <div class = "custom-room-search-filter-container">
        <div class= "room-page-title">
            <span class="page-title">Room Information</span>
        </div>

         <!-- Filter and show all -->
        <div class="custom-room-filter-box">
             <!-- filter-->
            <span class="custom-main-text-normal">Sort by:</span>
            <div class="custom-room-select custom-main-text-normal" id="dropdown">
            <span>Room Name</span>
                <button><i class="fa-solid fa-caret-down"></i></button>
                     <ul class="custom-room-options custom-main-text-normal"> 
                     <li class="custom-room-options-li">Room Name</li>
                     <li class="custom-room-options-li">Capacity</li>
                    </ul>
            </div> 
         </div>

    </div>  
  
    <!--table-->
  <div class="custom-room-table-container">
    <div class="room-table">
      <table>
            <thead class="th-text">
            <tr>
                <th class="th-text">Room Number</th>
                <th class="th-text">Room Name</th>
                <th class="th-text">Capacity</th>
                <th class="th-text">Tools</th>
          </tr>
          </thead>

        <!--start sa content sa table-->
        <tbody class="td-text">
            <tr>
             <!-- sample only, iconnect pa nis database-->
             <td>#698</td>
             <td>Conference Room</td>
             <td>10</td>
             <td>
                <div class="grid-item-toolbar">
                    <button class="grid-toolbar-button" id="edit-button">
                        <i class="fa-regular fa-pen-to-square"></i>
                    </button>
                    <button class="grid-toolbar-button" id="delete-button">
                        <i class="fa-regular fa-trash-can" style="color: #b3261e;"></i>
                    </button>
                </div>
            </td>
            </tr>
        </tbody>    
    </div>
    </table>
    <div class="custom-room-add-container">
        <button class="room-add-booking-btn custom-main-white-text-normal"  id="add-button" onclick="openModal()"
        </button><span>Add New Room</span>
    </div>
 </div>
<!--modal html, copy ni-->
<div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
           <div class="logo-container1">
                <img src="~/img/logo2.svg" style="width: 80px; color: 65558F; " alt="logo">
            </div>
        <div class="modal-header1">
            <h2>Add Room</h2>
        </div>
        <form id="addUserForm">
            <div class="form-section">
                <h3>Room Information</h3>
                <label for="roomID">Room Name </label>
                <input type="text" id="roomID" name="roomName" placeholder="Enter room name" required>

                <label for="roomNumber">Room Number </label>
                <input type="text" id="roomNumber" name="roomNumber" placeholder="Enter room number" required>

                <label for="capacity">Capacity</label>
                <input type="text" id="capacity" name="capacity" placeholder="Enter capacity" required>

            </div>

            <div class="modal-footer1">
                <button type="button" class="cancel-bttn" onclick="closeModal()">Cancel</button>
                <button type="submit" class="submit-bttn">Submit</button>
            </div>
        </form>
    </div>
</div>
