* {
    margin: 0;
    padding: 0;
}
.custom-dash-container {
    width: 100%;
    height: auto; 
    background-color: transparent; 
    display: flex;
    justify-content: center; 
    align-items: center; 
}

/*for page title*/
.info-page-title {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content:flex-start;
    margin-left: 10px;
}

/*for search bar */
.custom-info-search-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right:10px;
    gap: 20px;
    font-size: 16px;
    border: none;
    outline: none;
    margin-top: 20px;
}
.custom-info-box{
    display: flex;
    height: 40px;
    align-items: center;
    gap: 10px;
    min-width: 400px;
    width: 300px;
    padding: 10px;
    background-color: var(--background-color1);
    border-radius: 30px;
    margin-left: 0;
    border: none;
    outline: none;

}
.custom-info-box:focus-within {
    border: 2px solid var(--secondary-color); 
    border-radius: 30px;
}


.custom-info-box> button{
    border-radius: 50%;
    width: 32px;
    height: 32px;
    display: flex;  
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}

.custom-info-box> button:hover{
    border: none;
    outline: none;
    background-color: var(--background-color2);
}
.custom-info-box> button> i{
    width: 30px;
    height: 30px;
    color: var(--primary-color);
    display: flex;
    align-items: center;  
    justify-content: center;  
}

.custom-info-box> input{
    flex: 1;
    height:30px;
    border:none;
    outline: none;
    font-size: 16px;
    color: var(--main-text-color);
    padding-left: 10px;
    padding-right: 5px;
    background-color: var(--background-color1);
}
.custom-info-box > input:focus {
    border: none; 
    outline: none;
}
/*end sa search bar */
/*add new room*/
.info-room-add-container{
    margin: 0;
    justify-content: flex-end;
    display: flex;  
}
.info-add-booking-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    padding: 10px 20px;
    background-color: var(--primary-color);
    border: none;
    border-radius: 30px;
    transition: all 0.2s ease;
    margin-top: 28px;
}

.info-add-booking-btn:hover{
    background-color: var(--primary-color);
    border: none;
    outline: none;
    opacity: 0.7;
}
.info-add-booking-btn:focus{
    background-color: var(--primary-color);
    border: none;
    outline: none;
    opacity: 0.7;
}
/*end of add btn*/

/* edit and delete btns*/
.grid-toolbar-container{
    display: grid;
    grid-template-columns: repeat(2, auto);  
    gap: 13px;  
    align-items: center;
    background-color: transparent;
    justify-content: end;
    width: 100%;
    
}

.grid-toolbar-button {
    align-items: center;
    justify-content: flex-end;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: transparent;
    border: none;
    outline: none;
}
.grid-toolbar-button > i {
    font-size: 18px;
    color: var(--primary-color);
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 28px;
}

.grid-toolbar-button> i:hover {
   color: var(--accent-color);
}

.grid-toolbar-button> i:focus {
    color: var(--accent-color);
    border: none;
    outline: none;
}

.grid-toolbar-button:focus{
    border: none;
    outline: none;
    background-color: transparent;
}
/* end edit and delete btns*/



/*table*/
.info-table-container {
    width: 100%;
    margin-top: 20px;
    border-radius: 20px;
    position: relative;
    overflow-y: hidden;
    overflow-x: hidden; 
    scroll-behavior: smooth; 
}

.info-table {
    width: 100%;
    padding-bottom: 10px;
    max-height: 460px;
    overflow-x: auto; 

}

.info-table table,
.info-table table th,
.info-table table td {
    text-align: center !important;
}

/* Table styles */
table {
    table-layout: auto; 
    width: 100%; 
    border-collapse: separate; 
    text-align: center;
    border-spacing: 0;
}

table th, table td {
    min-width: 100px; 
    max-width: 300px; 
    padding: 8px;
    text-align: center;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
    transition: all 0.2s ease-in-out; 
}
table td{
    padding: 16px 20px;

}

table th {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: var(--secondary-color);
    padding: 14px 20px;
}

table tbody tr {
    transition: background-color 0.2s ease;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
table tbody tr:hover{
    background-color: rgba(140, 122, 193, 0.1); 
    cursor: pointer;
}


@media screen and (max-width: 1400px) {
    table th,
    table td {
        font-size: 0.85rem;
        padding: 6px 4px;
    }
}

@media screen and (max-width: 1200px) {
    .info-table-container {
        max-height: 440px;
        overflow-y: auto;
    }
    
    table th,
    table td {
        font-size: 0.8rem;
        padding: 4px 2px;
    }
}

/*end table*/


/*modal*/
    .modal {
        display: none;
        position: fixed; 
        z-index: 1000; 
        justify-content: center;    
        align-items: center;
        width: 100%; 
        overflow: none; 
        backdrop-filter: blur(4px);
     }
     .modal.show {
        display: block;
    }
    
    .modal-content {
        background-color: var(--background-color2); 
        border-radius: 10px; 
        width: 500px; ; 
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        display: flex;
        padding: 20px;
    }
    
    .modal-header1 h2 {
        display: flex; 
        margin-bottom: 20px; 
        font-size: 26px; 
        font-weight: 550; 
        color: #65558F;
        width: 100%;
    }
    label {
        display: flex; 
        justify-content: flex-start;
        margin-bottom: 8px; 
        font-size: 14px; 
        font-weight: 500; 
        color: var(--main-text-color);
        opacity: 0.6;
    }
    
    input[type="text"],
    input[type="password"] {
        width: 100%; 
        padding: 10px; 
        margin-bottom: 10px; 
        border: 1.5px solid #BFA6D0; 
        border-radius: 25px; 
    }
    input[type="text"]:focus,
    input[type="password"]:focus {
        border: 1.5px solid #5B4497; 
        background-color: rgb(227, 227, 227);
        outline: none; 
    }
    input::placeholder {
        font-size: 14px; 
    }
    .modal-footer1 {
        margin-top: 12px; 
        display: flex; 
        justify-content: space-between; 
    }
    
    .cancel-bttn,
    .submit-bttn {
        padding: 10px 10px; 
        border: 1.5px solid #BFA6D0; 
        border-radius: 30px; 
        cursor: pointer; 
        width: 45%;
    }
    .submit-bttn:focus {
        border: 1.5px solid #5B4497; 
        background-color:#8A70A4;
        outline: none; 
    }
    .cancel-bttn:focus{
        border: 1.5px solid #5B4497; 
        background-color: rgb(227, 227, 227);
        outline: none; 
    
    }
    
    .cancel-bttn {
        background-color: #ffffff; 
        color: #5B4497; 
      
    }
    
    .submit-bttn {
        background-color: #5B4497; 
        color: #fff; 
       
    }


/*pic*/

.employee-checkbox {
    border-radius: 60px;
}

