/* .gradient-custom-2 {
    background: #ff0000; 

    background: -webkit-linear-gradient(to right, #ff0000, #000000);
   
    background: linear-gradient(to right, #ff0000, #000000); 
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.btn-custom {
    background-color: #8a70a4;
    color: white;
}

.login-btn {
    margin-top: 50px;
    width: 330px;
    border-radius: 20px;
    width: 100%; 
    padding: 10px 0; 
}
.login-btn:hover {
    background-color: #BFA6D0;
}
.login-button-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.login-form-container {
    background-color: white; 
    padding: 2rem; 
    border-radius: 10px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    width: 100%; 
    max-width: 600px;
    margin: auto; 
}
.login-form {
    background-color: rgba(101, 85, 143, 0.8);
    padding: 2rem;
    /*color: white;*/
    width: 47%; 
    height: 100vh; 
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: flex-start;
    
     
}

.login-form h1 {
    font-size: 3rem;
    margin-top: 0.7rem;
    margin-bottom: 2.2rem;
    font-weight: 900 px;
    text-align: center;
}
.forgot-password-container{
    color: white !important;
    text-align: center;
    
}
.bg-image {
    background-image: url('../img/bg1.jpg'); 
    background-size: cover; 
    background-position: center; 
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
}
.logo-container 
  {  
    width: 100%; /* Make the container full width */
    display: flex;
    justify-content: center; /* Center the logo horizontally */
    margin-bottom: 0.8rem;  
    
  }
    

  img.Logo {
    width: 58px;
    height: 33px;
    margin: 6px 1477px 5px 0;
    object-fit: contain; 
}

/* .btn-outline-custom {
    color: #7A6092;
    border-color: #7A6092;
}

.btn-outline-custom:hover {
    color: #fff;
    background-color: #7A6092 !important;
    border-color: #7A6092 !important;
} */

/*
.register-box {
    width: 600px;
}

@media (min-width: 768px) {
    .gradient-form {
        height: 100vh !important;
    }
}

@media (min-width: 769px) {
    .gradient-custom-2 {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
    }
}
/* SITE body bg color */
body {
    background-color: #D4C2E2; 
}

/* REGISTER PAGE */
.custom-card-body {
    background-color: #65558F; /* box1 color */
    opacity: 0.6;
    margin: 0;
    padding: 0;
    /*width: 1011px;
    height: 846px;
    padding: 49px 167px 60px 168px; */
    background-image: url('~/img/reg_bg.png'); 
    background-size: cover; 
    background-position: center; 
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    /* background-color: rgba(101, 85, 143, 0.6); */
}

.text-white {
    color: white; 
    font-family: TimesNewRoman;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    font-size: 18px;
}

.register-btn {
    background: #5B4497; 
} 