/* .gradient-custom-2 {
    background: #ff0000; 

    background: -webkit-linear-gradient(to right, #ff0000, #000000);
   
    background: linear-gradient(to right, #ff0000, #000000); 
} */

.btn-custom {
    background-color: #8a70a4;
    color: white;
}

.btn-custom:hover {
    background-color: #7a6094;
    color: white;
}

.login-btn {
    margin-top: 50px;
    width: 330px;
    border-radius: 20px;
}
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px; /* Adjust as needed */
}
.forgot-password-container {
    margin-bottom: 15px; /* Moves "Forgot password?" link upwards */
}
.login-button-container {
    margin-top: 0px; /* Moves Login button downwards */
    width: 330px;
}
.login-btn {
    width: 100%; /* Makes the button full width of its container */
    padding: 10px 0; /* Adds some vertical padding */
}
/* .btn-outline-custom {
    color: #7A6092;
    border-color: #7A6092;
}

.btn-outline-custom:hover {
    color: #fff;
    background-color: #7A6092 !important;
    border-color: #7A6092 !important;
} */

.register-box {
    width: 600px;
}

@media (min-width: 768px) {
    .gradient-form {
        height: 100vh !important;
    }
}

@media (min-width: 769px) {
    .gradient-custom-2 {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
    }
}

body {
    background-color: #D4C2E2; /* Set body background color */
}

/* tanang button custom */
