.input-text-1{
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: var(--accent-color);
  }
.custom-text1{
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 200;
  color: var(--main-text-color);
}
.th-text{
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 400px;
  color: var(--background-color2);
}

.td-text{
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 100px;
  color: var(--main-text-color);
}

.status-vacant-text{
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 200px;
  font-style: italic;
    color:#73A110 ;
}

.status-occupied-text{
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 200px;
  font-style: italic;
  color: #EC9100;
}

.status-reserved-text{
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 200px;
  font-style: italic;
  color: #45229F;
}
