@model LoginViewModel
@using static ASI.Basecode.Resources.Views.Screen
@section Styles {
    <link rel="stylesheet" href="~/css/headerfinal.css" />
    <link rel="stylesheet" href="~/css/texts.css" />
    <link rel="stylesheet" href="~/css/homepage.css" />
    <link rel="stylesheet" href="~/css/customtable.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />
    <link rel="icon" type="image/svg+xml" href="~/img/logo-invert.svg">
}
@{
    ViewBag.LoginView = true;
    ViewData["Title"] = "Dashboard";
}

<div class="custom-header">
    <div class="logo-container"> 
        <div class="logo-icon"><img src="~/img/logo-invert.svg " style="color: var(--background-color1);"></div>
    </div>
    <div class="grid-container">
      <button class="grid-item-button grid-item-container grid-item i"><i class="fas fa-home"></i></button>
      <button class="grid-item-button grid-item-container grid-item i"><i class="fa-solid fa-door-open"></i></button>
      <button class="grid-item-button grid-item-container grid-item i"><i class="fas fa-user"></i></button>
      <button class="grid-item-button grid-item-container grid-item i"><i class="fas fa-bell"></i></button>
      <button class="grid-item-button grid-item-container grid-item i"><i class="fa-solid fa-right-from-bracket"></i></button>
    </div>
    <div class="profile">
      <span class="custom-text1">Administrator</span>
      <div class="profile-image profile-image-i"><img src="/path/to/profile.jpg" alt="Profile" onerror="this.style.display='none'"><i class="fas fa-user-circle"></i></div>
      </div>
</div>
<div class= "custom-main-container">
  <div class="custom-dash">
    <p class= "page-title">Dashboard</p>
  </div>
  <!--search -->
  <div class = "custom-search-filter-container">
    <div class="custom-box">
      <input type="text" placeholder="Search...">
      <button><i class="fa-solid fa-magnifying-glass"></i></button>
    </div>

    <!-- Filter -->
    <div class="filter-box">
        <span>Filter</span>
        <span>Sort by:</span>
        <div class="custom-select">
          <ul class="custom-options">
             <li>Room ID</li>
             <li>Room Name</li>
             <li>Hourly Rate</li>
             <li>Guest Name</li>
             <li>Email Address</li>
             <li>Point of Contact</li>
          </ul>
        </div>
    </div>
  </div>
  <!--end-->
  <div class="custom-table-container">
    <div class="dash-table">
      <table>
          <thead class = "th-text">
            <tr>
                <th>Status</th>
                <th>Room ID</th>
                <th>Room Name</th>
                <th>Capacity</th>
                <th>Hourly Rate</th>
                <th>Total Amount</th>
                <th>Invoice Status</th>
                <th>Guest Name</th>
                <th>Contact Number</th>
                <th>Email Address</th>
                <th>Date Reserved</th>
                <th>Start Session</th>
                <th>End Session</th>
                <th>POC</th>
          </tr>
          </thead>

                <!--start sa content sa table-->
                <tbody class="td-text">
                  <tr>
                    <!-- sample only, iconnect pa nis database-->
                        <td><p class="status status-occupied-text status-occupied">Occupied</p></td>
                        <td>123</td>
                        <td>Conference Room</td>
                        <td>10</td>
                        <td>₱900</td>
                        <td>₱1800</td>
                        <td><p class= "invoice invoice-paid invoice-paid-text">Paid</p></td>
                        <td>Slater Young</td>
                        <td>+634782561</td>
                        <td>slateryoung@lite.ph</td>
                        <td>10/26/2024</td>
                        <td>8:00 AM</td>
                        <td>10:00 AM</td>
                        <td>Employee Name</td>                  
                 </tr>
                </tbody>
                <tbody class="td-text">
                  <tr>
                    <!-- sample only, iconnect pa nis database-->
                        <td><p class="status status-occupied-text status-occupied">Occupied</p></td>
                        <td>123</td>
                        <td>Conference Room</td>
                        <td>10</td>
                        <td>₱900</td>
                        <td>₱1800</td>
                        <td><p class="invoice invoice-paid invoice-paid-text">Paid</p></td>
                        <td>Slater Young</td>
                        <td>+634782561</td>
                        <td>slateryoung@lite.ph</td>
                        <td>10/26/2024</td>
                        <td>8:00 AM</td>
                        <td>10:00 AM</td>
                        <td>Employee Name</td>                  
                 </tr>
                </tbody>

                <tbody class="td-text">
                  <tr>
                    <!-- sample only, iconnect pa nis database-->
                        <td><p class="status status-vacant-text status-vacant">Vacant</p></td>
                        <td>123</td>
                        <td>Conference Room</td>
                        <td>10</td>
                        <td>₱900</td>
                        <td>--</td>
                        <td><p>--</p></td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>                  
                 </tr>
                </tbody>
                                <tbody class="td-text">
                  <tr>
                    <!-- sample only, iconnect pa nis database-->
                        <td><p class="status status-vacant-text status-vacant">Vacant</p></td>
                        <td>123</td>
                        <td>Conference Room</td>
                        <td>10</td>
                        <td>₱900</td>
                        <td>--</td>
                        <td><p>--</p></td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>                  
                 </tr>
                </tbody>
                                <tbody class="td-text">
                  <tr>
                    <!-- sample only, iconnect pa nis database-->
                        <td><p class="status status-vacant-text status-vacant">Vacant</p></td>
                        <td>123</td>
                        <td>Conference Room</td>
                        <td>10</td>
                        <td>₱900</td>
                        <td>--</td>
                        <td><p>--</p></td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>                  
                 </tr>
                </tbody>
                <tbody class="td-text">
                  <tr>
                    <!-- sample only, iconnect pa nis database-->
                        <td><p class="status status-reserved-text status-reserved">Reserved</p></td>
                        <td>123</td>
                        <td>Conference Room</td>
                        <td>10</td>
                        <td>₱900</td>
                        <td>₱1800</td>
                        <td><p class="invoice invoice-partial invoice-partial-text">Partial</p></td>
                        <td>Slater Young</td>
                        <td>+634782561</td>
                        <td>slateryoung@lite.ph</td>
                        <td>10/26/2024</td>
                        <td>8:00 AM</td>
                        <td>10:00 AM</td>
                        <td>Employee Name</td>                  
                 </tr>
                </tbody>   
                 <tbody class="td-text">
                  <tr>
                    <!-- sample only, iconnect pa nis database-->
                        <td><p class="status status-reserved-text status-reserved">Reserved</p></td>
                        <td>123</td>
                        <td>Conference Room</td>
                        <td>10</td>
                        <td>₱900</td>
                        <td>₱1800</td>
                        <td><p class="invoice invoice-partial invoice-partial-text">Partial</p></td>
                        <td>Slater Young</td>
                        <td>+634782561</td>
                        <td>slateryoung@lite.ph</td>
                        <td>10/26/2024</td>
                        <td>8:00 AM</td>
                        <td>10:00 AM</td>
                        <td>Employee Name</td>                  
                 </tr>
                </tbody>      
                 <tbody class="td-text">
                  <tr>
                    <!-- sample only, iconnect pa nis database-->
                        <td><p class="status status-reserved-text status-reserved">Reserved</p></td>
                        <td>123</td>
                        <td>Conference Room</td>
                        <td>10</td>
                        <td>₱900</td>
                        <td>₱1800</td>
                        <td><p class="invoice invoice-partial invoice-partial-text">Partial</p></td>
                        <td>Slater Young</td>
                        <td>+634782561</td>
                        <td>slateryoung@lite.ph</td>
                        <td>10/26/2024</td>
                        <td>8:00 AM</td>
                        <td>10:00 AM</td>
                        <td>Employee Name</td>                  
                 </tr>
                </tbody>      
                 <tbody class="td-text">
                  <tr>
                    <!-- sample only, iconnect pa nis database-->
                        <td><p class="status status-reserved-text status-reserved">Reserved</p></td>
                        <td>123</td>
                        <td>Conference Room</td>
                        <td>10</td>
                        <td>₱900</td>
                        <td>₱1800</td>
                        <td><p class="invoice invoice-partial invoice-partial-text">Partial</p></td>
                        <td>Slater Young</td>
                        <td>+634782561</td>
                        <td>slateryoung@lite.ph</td>
                        <td>10/26/2024</td>
                        <td>8:00 AM</td>
                        <td>10:00 AM</td>
                        <td>Employee Name</td>                  
                 </tr>
                </tbody>      
                 <tbody class="td-text">
                  <tr>
                    <!-- sample only, iconnect pa nis database-->
                        <td><p class="status status-reserved-text status-reserved">Reserved</p></td>
                        <td>123</td>
                        <td>Conference Room</td>
                        <td>10</td>
                        <td>₱900</td>
                        <td>₱1800</td>
                        <td><p class="invoice invoice-partial invoice-partial-text">Partial</p></td>
                        <td>Slater Young</td>
                        <td>+634782561</td>
                        <td>slateryoung@lite.ph</td>
                        <td>10/26/2024</td>
                        <td>8:00 AM</td>
                        <td>10:00 AM</td>
                        <td>Employee Name</td>                  
                 </tr>
                </tbody>                   
      </table>
    </div>
  </div>
</div>
 
      


