@using static ASI.Basecode.Resources.Views.Screen
@section styles {
    <link rel="stylesheet" href="~/css/dashboard.css" />
}
@{
    ViewData["Title"] = "Dashboard";
}

<!-- remove the header above, the one using alliance and then replace with our own version of it -->

<div class="dash-container">
    <div class="dash-header"></div>
    <div class="dash-body">
        <div class="dash-outer-container">
            <div class="dash-search-container">
                <form>
                    <input type="text" placeholder="Enter Location" class="dash-search-input">
                    <span style="font-size: 12px; font-weight: 600; margin-left: 10px;">Filter Search</span>
                    <button class="dash-buttons">1</button>
                    <button class="dash-buttons">2</button>
                    <button class="dash-buttons">3</button>
                    <button class="dash-buttons">4</button>
                    <button class="dash-buttons">5</button>
                </form>
            </div>
            <div class="dash-inner-container">
                <div style="height:50px; padding: 15px;">
                    <span class="dash-search-results-title">Showing search results for: </span>
                </div>
                <div class="dash-search-results">
                    <div class="grid-container">
                        <div>
                            <div class="dash-result"></div>
                            <span>200.00 php<br>Lorem ipsum<br>Location: DSB Salvador Extension, Cebu City, Philippines</span>
                        </div>
                        <div>
                            <div class="dash-result"></div>
                            <span>200.00 php<br>Lorem ipsum<br>Location: DSB Salvador Extension, Cebu City, Philippines</span>
                        </div>
                        <div>
                            <div class="dash-result"></div>
                            <span>200.00 php<br>Lorem ipsum<br>Location: DSB Salvador Extension, Cebu City, Philippines</span>
                        </div>
                        <div>
                            <div class="dash-result"></div>
                            <span>200.00 php<br>Lorem ipsum<br>Location: DSB Salvador Extension, Cebu City, Philippines</span>
                        </div>
                        <div>
                            <div class="dash-result"></div>
                            <span>200.00 php<br>Lorem ipsum<br>Location: DSB Salvador Extension, Cebu City, Philippines</span>
                        </div>
                        <div>
                            <div class="dash-result"></div>
                            <span>200.00 php<br>Lorem ipsum<br>Location: DSB Salvador Extension, Cebu City, Philippines</span>
                        </div>
                        <div>
                            <div class="dash-result"></div>
                            <span>200.00 php<br>Lorem ipsum<br>Location: DSB Salvador Extension, Cebu City, Philippines</span>
                        </div>
                        <div>
                            <div class="dash-result"></div>
                            <span>200.00 php<br>Lorem ipsum<br>Location: DSB Salvador Extension, Cebu City, Philippines</span>
                        </div>
                        <div>
                            <div class="dash-result"></div>
                            <span>200.00 php<br>Lorem ipsum<br>Location: DSB Salvador Extension, Cebu City, Philippines</span>
                        </div>
                        <div>
                            <div class="dash-result"></div>
                            <span>200.00 php<br>Lorem ipsum<br>Location: DSB Salvador Extension, Cebu City, Philippines</span>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




